# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Mi unidad\EGIBIDE\Desarollo de Aplicaciones Web\2º\Desarollo web entorno cliente\TypeScript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
